theme = "flexoki-alabaster-dark"

[editor]
cursorline = true
end-of-line-diagnostics = "hint"

[editor.inline-diagnostics]
cursor-line = "warning"
other-lines = "disable"

[editor.soft-wrap]
enable = true

[editor.whitespace.render]
space = "all"
tab = "all"
nbsp = "none"
nnbsp = "none"
newline = "none"

[editor.whitespace.characters]
space = "·"
nbsp = "⍽"
tab = "→"
newline = "⏎"

[editor.indent-guides]
render = true
character = "┊"
skip-levels = 1

[editor.file-picker]
hidden = false
git-ignore = true

[editor.statusline]
left = ["mode", "spinner", "version-control"]
center = ["file-name"]
right = ["diagnostics", "selections", "position", "file-encoding"]

[keys.normal]
"#" = ["move_prev_word_start", "select_mode", "move_next_word_end", "search_selection", "normal_mode"]
