"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "atom-typescript"
      "busy-signal"
      "intentions"
      "linter"
      "linter-ui-default"
      "github"
      "vim-mode"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "electron-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Menlo"
    fontSize: 17
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
  linter: {}
  "linter-ui-default":
    showPanel: true
  "one-dark-ui": {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  tabs:
    alwaysShowTabBar: false
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
